extends layouts/main


block contentBlock
    .form-contatiner
        form(action=mRoutes.join method="post")
            input(type="text", name= "name", placeholder="Full Name", required=true)
            input(type="text", name= "id", placeholder="id", required=true)
            input(type="password" name="password", placeholder="password", required=true)
            input(type="password" name="password2", placeholder="verify password", required=true)
            input(type="submit", value="Create Account")
        include partials/socialLogin